*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 
 
}
 
header{
    background-color: black;
    width: 100vw;
    opacity: 0.9;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
}
 
.navbar
{
    min-height: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
 
 
}
 
 
.Getnum a{
    color: white;
    text-decoration: none;
    font-size: 36.38px;
    font-family: "Avant Grade Bold", sans-serif;
    max-width: 158.82px;
    width: 100%;
    max-height: 46.4px;
    height: 100%;
}
 
.links a{
    color: white;
    text-decoration: none;
}
 
.links{
    display: flex;
    align-items: center;
 
 
    font-family: "AvantGarde Bold", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.4px;
    max-height: 36px;
    height: 100%;
    gap: 40px;
 
}
 
 

.as{
    width: 20px;
}
 
.empty{
    width: 100vw;
    background-color: black;
}
 
.section1{
    min-width: 1544px;
    width: 100%;
    padding-bottom: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
 
    background-color: black;
}
 
.man_img{
    margin-left: 350px;
    margin-top: 100px;
    width: 600px;
}