*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;


}

header{
    background-color: black;
    width: 100%;
}

.navbar
{
    min-height: 170px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    max-width: 1140px;
    width: 100%;
    margin: 0px 164.4px;

}


.Getnum a{
    color: white;
    text-decoration: none;
    font-size: 36.38px;
    font-family: "Avant Grade Bold", sans-serif;
    max-width: 158.82px;
    width: 100%;
    max-height: 46.4px;
    height: 100%;
}

.links a{
    color: white;
    text-decoration: none;
}

.links{
    display: flex;
    align-items: center;
    margin-left: 300px;

    font-family: "AvantGarde Bold", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.4px;
    max-height: 36px;
    height: 100%;

}

.links a{
    padding: 10px;
    margin: 15px 0 15px 20px;
}